@import 'base/variables';
@import 'base/colors';
@import 'base/font';

@import 'layout/flex';
@import 'components/images';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/spacing';
@import 'layout/body';
@import 'components/post';
@import 'components/postIcons';
@import 'components/event';
@import 'components/free-space';
@import 'components/fab';

// Reset
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}