.flex {
    display: flex;

    &.f-row{
        flex-direction: row;
    }

    &.jc-sa{
        justify-content: space-around;
    }
    &.jc-sb{
        justify-content: space-between;
    }
    &.jc-se{
        justify-content: space-evenly;
    }

    &.ai-center{
        align-items: center;
    }

    &.jc-end{
        justify-content: end;
    }
}