@for $i from 1 through 10{
    .my-#{$i}{
        margin-top: ($i * 1%);
        margin-bottom: ($i * 1%);
    }
    .mx-#{$i}{
        margin-left: ($i * 1%);
        margin-right: ($i * 1%);
    }
    .mt-#{$i}{
        margin-top: ($i * 1%);
    }
    .ml-#{$i}{
        margin-left: ($i * 1%);
    }
    .mb-#{$i}{
        margin-bottom: ($i * 1%);
    }
    .mr-#{$i}{
        margin-right: ($i * 1%);
    }
    .py-#{$i}{
        padding-top: ($i * 1%);
        padding-bottom: ($i * 1%);
    }
    .px-#{$i}{
        padding-left: ($i * 1%);
        padding-right: ($i * 1%);
    }
    .pt-#{$i}{
        padding-top: ($i * 1%);
    }
    .pl-#{$i}{
        padding-left: ($i * 1%);
    }
    .pb-#{$i}{
        padding-bottom: ($i * 1%);
    }
    .pr-#{$i}{
        padding-right: ($i * 1%);
    }
}

.w-100{
    width: 100%;
}