.post-event{
    color : $faded_text;
    font-size: 14px;
}

img.event-icon{
    min-height: 12px;
    max-height: 12px;
    position: relative;
    right: 0;
    margin: 3% 0;
    padding: 2% 0 4% 0;
}